<div class="btn-group">
  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="legorduloMenuGomb" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Hasznos Funkciók</button>
    <div class="dropdown-menu" aria-labelledby="legorduloMenuGomb" aria-expanded="false">
      <a class="dropdown-item" routerLink="/jquery">JQuery minta</a>
      <a class="dropdown-item" routerLink="/tabla">Táblázat minta</a>
      <a class="dropdown-item" href="https://angular.io/" target="_blank">Angular honlapja</a>
    </div>

  </div>

  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="legorduloMenuGomb" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">További tananyagok</button>
    <div class="dropdown-menu" aria-labelledby="legorduloMenuGomb" aria-expanded="false">
      <a class="dropdown-item" href="https://w3schools.com">Jquery W3Schools</a>
      <a class="dropdown-item" href="">Táblázat leírás</a>
      <a class="dropdown-item" href="https://angular.io/" target="_blank">Angular honlapja</a>
    </div>

  </div>

  <div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" type="button" id="legorduloMenuGomb" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Contact</button>
    <div class="dropdown-menu" aria-labelledby="legorduloMenuGomb" aria-expanded="false">
      <a class="dropdown-item" routerLink="/jquery">Jquery</a>
      <a class="dropdown-item" routerLink="/tabla">Táblázat</a>
      <a class="dropdown-item" href="https://angular.io/" target="_blank">Angular honlapja</a>
    </div>

  </div>
</div>

<router-outlet></router-outlet>